* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 0.5%;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
  
@media only screen and (min-width: 480px) {
/* For phone landscape: */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}
  
@media only screen and (min-width: 768px) {
/* For tablet portrait: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

@media only screen and (min-width: 1024px) {
/* For tablet landscape: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

@media only screen and (min-width: 1024px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

body{
    margin: 0;
}

#unilogo{
    width: 144px;
    height: 144px;
    background: cover no-repeat;
    flex-shrink: 0;
}

#title{
    color: #000;
    font-family: Inter;
    font-size: 240%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.page_head{
    background-color: #C8AE7D;
}

ul {
    list-style-type: none;
    margin: 0;
}

li a {
    display: block;
    text-decoration: none;
    color: #000;
  }

li {
    float: left;
    color: #000;
    font-family: Inter;
    font-size: 120%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 5%;
}

footer{
color: #000;
font-family: Montserrat;
font-size: 100%;
font-style: normal;
font-weight: 400;
text-align: center;
background-color: #C8AE7D;
padding: 1%;
}